<div class="space"></div>
<section class="m-section back">
  <div class="container">
    <div class="content-top">
      <div class="title">
        <p class="title-section">Conecta, califica y potencia el talento freelance.</p>
      </div>
      <!-- <div class="info">
        <p class="text">Lotes residenciales desde $2,300 MXN mt2</p>
      </div>
      <div class="button">
        <button class="btn-blue" (click)="goTo('contact', $event)" mat-button>APARTA TU TERRENO</button>
      </div> -->
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="content-bottom">
      <div class="logo">
        <img src="/assets/images/blue/logo.png" alt="">
      </div>
      <div class="information">
        <p class="one">Nuetra misión es Promover el talento de programadores freelance, ofreciendo una plataforma
          confiable para conectar proyectos con profesionales, fomentar la retroalimentación constructiva y garantizar
          la excelencia en cada proyecto</p>
        <!-- <p class="two text">Además, nuestro enfoque personalizado nos distingue. Nos preocupamos por conocer las
          necesidades y
          preferencias individuales de cada cliente, para poder ofrecer soluciones a medida. Nuestro equipo está siempre
          dispuesto a escuchar y asesorar, con la paciencia y amabilidad necesarias para garantizar una experiencia
          positiva.</p>
        <div class="button">
          <button mat-button class="btn-blue" (click)="goTo('contact', $event)">contacta a un asesor</button>
        </div> -->
      </div>
    </div>
  </div>
</section>
