.space {
  height: 100px;
}

section {
  .container {
    max-width: 1327px;
    padding: 0px;
    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      @media (min-width: 991px) {
        height: 100vh;
      }
      .logo {
        width: fit-content;
        margin: 0 auto;
      }
      .thanks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 56px;
        text-align: center;
        width: 100%;
        max-width: 454px;
        margin: 0 auto;
        position: relative;
        padding-top: 75px;
        padding-left: 10px;
        padding-right: 10px;
        @media (min-width: 991px) {
          padding-top: 0px;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 16px;
          .sub {
            p {
              font-size: 16px;
              font-weight: 700;
              color: var(--secondary);
            }
          }
          .title {
            p {
              font-size: 40px;
              font-weight: 700;
              color: var(--secondary);
              @media (min-width: 991px) {
                font-size: 56px;
              }
            }
          }
          .texto {
            p {
              font-family: "DM Sans";
              font-size: 20px;
              color: #6a6a6a;
            }
          }
          .button {
            display: flex;
            justify-content: center;
            button {
              padding: 16px 24px;
              font-size: 16px;
            }
          }
        }
        .redes {
          display: flex;
          flex-direction: column;
          gap: 12px;
          p {
            font-size: 16px;
            color: #6a6a6a;
            font-weight: 600;
          }
          .icons {
            display: flex;
            flex-direction: row;
            gap: 17px;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .images {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        gap: 20px;
        .box {
          width: fit-content;
          background: #abded9;
          min-width: 36px;
          min-height: 36px;
          border-radius: 9px;
          @media (min-width: 768px) {
            border-radius: 16px;
            min-width: 64px;
            min-height: 64px;
          }
        }
        .row {
          margin: 0 !important;
          max-width: 45%;
          display: flex;
          flex-direction: row;
          align-items: end;
          flex-wrap: nowrap;
          // justify-content: end;
          gap: 24px;
          img {
            width: 100%;
            max-width: 100%;
            border-radius: 18px;
            @media (min-width: 991px) {
              border-radius: 32px;
            }
          }
          .one {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 24px;
          }
          .second {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
          }
          .fila {
            .box {
              display: none;
              @media (min-width: 1275px) {
                display: block;
              }
            }
            display: flex;
            flex-direction: row;
            align-items: end;
          }
          .up {
            max-width: 100%;
            display: flex;
            flex-direction: row;
            gap: 24px;
            justify-content: end;
            align-items: end;
            .upi {
              width: 192px;
              max-width: 60%;
            }
          }
          .none {
            display: none;
            @media (min-width: 1200px) {
              display: flex;
            }
          }
          .none-box {
            display: none;
            @media (min-width: 991px) {
              display: block;
            }
          }
        }
        .end {
          max-width: 100%;
          justify-content: end;
        }
      }
    }
  }
}
