<div class="space"></div>
<section class="m-section">
  <div class="container">
    <div class="content">
      <div class="logo">
        <img src="/assets/images/logo-full.png" alt="">
      </div>
      <div class="thanks">
        <div class="info">
          <div class="sub">
            <p class="subtitle">Gracias por ponerte en contacto</p>
          </div>
          <div class="title">
            <p class="title-banner">Hemos recibido tu mensaje.</p>
          </div>
          <div class="texto">
            <p class="text">En breve uno de nuestros agentes se pondrá en contacto contigo.</p>
          </div>
          <div class="button">
            <button class="btn-primary"  routerLink="/inicio" (click)="goTo('nav', $event)">Sigue navegando</button>
          </div>
        </div>
        <div class="redes">
          <p>Síguenos</p>
          <div class="icons">
            <a target="_blank" href="https://www.instagram.com/cccgroupinco/"><img
                src="/assets/images/icons/insta-secondary.png" alt=""></a>
            <a target="_blank" href="https://www.facebook.com/lunaazulresidencial"><img
                src="/assets/images/icons/face-secondary.png" alt=""></a>
          </div>
        </div>
      </div>
      <div class="images">
        <div class="row">
          <div class="one">
            <img src="/assets/images/thanks/thank1.png" alt="">
            <img src="/assets/images/thanks/thank2.png" alt="">
          </div>
          <div class="second none">
            <div class="box"></div>
            <img src="/assets/images/thanks/thank3.png" alt="">
          </div>
        </div>
        <div class="row end">
          <div class="second fila">
            <div class="box none-box"></div>
            <img src="/assets/images/thanks/thank4.png" alt="">
          </div>
          <div class="one">
            <div class="up">
              <div class="box"></div>
              <img class="upi" src="/assets/images/thanks/thank6.png" alt="">
            </div>
            <img src="/assets/images/thanks/thank5.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
