<div class="space"></div>
<section class="m-section">
  <div class="image">
    <img src="/assets/images/home/banner.webp" alt="">
  </div>
  <div class="container">
    <div class="content">
      <div class="information">
        <div class="subtitle">
          <p>Conoce CCC Group</p>
        </div>
        <div class="title">
          <p class="title-banner">Nuestro Compromiso es firme y nuestra visión es clara:</p>
        </div>
        <div class="texto">
          <p class="text">Creamos hogares acogedores para familias y oportunidades de inversión sólidas para aquellos
            que buscan construir su patrimonio.</p>
        </div>
        <div class="button">
          <button mat-button class="btn-primary" routerLink="/contacto" (click)="goTo('nav', $event)">Contacta un Asesor</button>
          <button mat-button class="btn-secondary" routerLink="/hexafrelance" (click)="goTo('nav', $event)">Ver
            Proyectos</button>
        </div>
      </div>
    </div>
  </div>
</section>
