@font-face {
    font-family: "Nunito";
    src: url("../../assets/fonts/nunito/static/Nunito-Regular.ttf");
}
@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/dmsans/static/DMSans-Regular.ttf");
}

@font-face {
  font-family: "Mazius";
  src: url("../../assets/fonts/MaziusDisplay/Mazius Display Regular.otf");
}

@font-face {
    font-family: "Migra";
    src: url("../../assets/fonts/nunito/Migra-Extralight.otf");
}

@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter/static/Inter-Regular.ttf");
}
