<section class="m-section" id="razones">
  <div class="container">
    <div class="content one">
      <div class="swiper">

        <swiper [config]="swiperConfig" [navigation]="false" [centeredSlides]="false" [autoplay]="true" [loop]="true"
          class="swiper-investment" [pagination]="{clickable: true}">
          <ng-template swiperSlide *ngFor="let info of infoCards">

            <div class="content-swiper">
              <div class="title">
                <p>{{info.title}}</p>
                <div class="border"></div>
              </div>
              <div class="information">
                <p>{{info.info}} <br><span>{{info.span}}</span></p>
              </div>
              <div class="button">
                <button (click)="goTo('contact', $event)" mat-button class="btn-blue">{{info.button}}</button>
              </div>
            </div>

          </ng-template>
        </swiper>

      </div>
    </div>
  </div>
</section>
