.content {
  .swiper {
    width: 100%;

    .content-swiper {
      width: 100%;
      margin: 0 auto;
      max-width: 316px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
      height: 396px;
      padding: 32px 24px;
      background: #264561;
      .title {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-between;
        height: 117px;
        p {
          color: #f8f9fb;
          font-family: "Mazius";
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: 118%;
          text-transform: uppercase;
        }
        .border {
          width: 102px;
          height: 2px;
          background: #e9dab4;
          max-width: 100%;
        }
      }
      .information {
        p {
          color: #f8f9fb;
          font-family: 'Inter';
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: 133%;
          span {
            font-weight: 700;
          }
        }
      }
      .button {
        button {
          color: #e4d1ab;
          font-family: "Mazius";
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 118%;
          letter-spacing: 0.99px;
          text-decoration-line: underline;
          text-transform: uppercase;
          background-color: transparent;
          border: none;
        }
      }
    }
  }
}
