.content {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  gap: 56px;
  &.gap {
    flex-direction: column;
  }
  @media (min-width: 992px) {
    &.gap {
      flex-direction: row;
      justify-content: space-between;
    }
    align-items: center;
    flex-direction: row;
    gap: 110px;
  }
  @media (min-width: 1200px) {
    gap: 168px;
    &.gap {
      gap: 278px;
    }
  }
  &.gap {
    .images {
      max-width: 80%;
    }
  }
  .images {
    // width: 422px;
    overflow: visible;
    max-width: 100%;
    @media (min-width: 992px) {
      max-width: 100%;
    }
    .image {
      position: relative;
      .img {
        position: absolute;
        border-radius: 16px;
        border: 8px solid #fff;
        right: -25%;
        bottom: 10%;
        @media (min-width: 992px) {
          bottom: 52px;
          right: -52px;
        }
        @media (min-width: 1200px) {
          right: -135px;
        }
        img {
          max-width: 165px;
          margin-bottom: -4px;
          @media (min-width: 575px) {
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }
  }
  .information {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    @media (min-width: 992px) {
      max-width: 454px;
    }
    .subtitle {
      p {
        color: var(--secondary);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .title {
      p {
        color: var(--secondary);
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .button {
      padding-top: 8px;
      button {
        width: 100%;
        @media (min-width: 575px) {
          width: fit-content;
        }
      }
    }
  }
}
