<section class="m-section">
  <div class="container">
    <div class="content">
      <div class="images">
        <div class="image">
          <img src="/assets/images/home/socio1.webp" alt="">
          <div class="img">
            <img src="/assets/images/home/socio2.webp" alt="">
          </div>
        </div>
      </div>
      <div class="information">
        <div class="title">
          <p class="title-section">Tu Socio Confiable en Inversiones Inmobiliarias</p>
        </div>
        <div class="info">
          <p class="text">En CCC Group Incorporated, nos dedicamos a forjar futuros sólidos en el corazón de Cancún.
            Somos un equipo apasionado de profesionales que entiende el valor de la inversión inteligente y la
            importancia de elegir el lugar adecuado para establecer un hogar o hacer crecer tu patrimonio.</p>
        </div>
        <div class="button">
          <button class="btn-primary" routerLink="/lunaazulresidencial" (click)="goTo('nav', $event)" mat-button>Conoce Nuestros Desarrollos</button>
        </div>
      </div>
    </div>
  </div>
</section>
