<section class="m-section">
  <div class="container">
    <div class="first-content">
      <div class="information">
        <div class="title">
          <p class="text">Además, la creciente industria turística, impulsada por la fama mundial de destinos como
            Cancún, Playa del Carmen y Tulum, garantiza un flujo constante de visitantes y una sólida demanda de
            propiedades.</p>
        </div>
        <div class="info">
          <p class="text">Ya sea que estés buscando una casa vacacional, un retiro de jubilación o una inversión a largo
            plazo, la Riviera Maya ofrece una variedad de oportunidades que se adaptan a cada estilo de vida y objetivo
            financiero. Al invertir aquí, no solo estás adquiriendo un pedazo de paraíso, sino también asegurando un
            futuro lleno de posibilidades y rentabilidad.</p>
        </div>
        <div class="button">
          <button class="btn-primary" routerLink="/lunaazulresidencial" (click)="goTo('nav', $event)" mat-button>Conoce Nuestros Desarrollos</button>
        </div>
      </div>
      <div class="images">
        <img class="image" src="/assets/images/investment/info1.webp" alt="">
        <img class="img" src="/assets/images/icons/place.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="m-section">
  <div class="container">
    <div class="second-content">
      <div class="title">
        <p>En CCC Group estamos comprometidos con crear comunidades accesibles que sobrepasen las expectativas de los
          clientes, queremos crear proyectos de calidad con ubicaciones privilegiadas y amenidades exclusivas al
          alcance de todos.</p>
      </div>
      <div class="button">
        <button class="btn-primary" mat-button (click)="goTo('contact', $event)">Contacta a un asesor</button>
      </div>
    </div>
  </div>
</section>
