<section class="m-section">
  <div class="container">
    <div class="content">
      <div class="subtitle">
        <p>Nuestros Proyectos</p>
      </div>
      <div class="information">
        <div class="info">
          <div class="title">
            <p class="title-section">Conoce nuestro Proyecto Luna Azul Residencial</p>
          </div>
          <div class="texto">
            <p class="text">En la zona con mayor plusvalía a minutos del Aeropuerto de Cancún.</p>
          </div>
          <div class="texto">
            <p class="mts">Desde $2,300 el mt2</p>
          </div>
          <div class="button">
            <button mat-button class="btn-primary" routerLink="/hexafrelance" (click)="goTo('nav', $event)">Conoce Luna
              Azul</button>
          </div>
        </div>
        <div class="logo-moon">
          <img src="/assets/images/home/moon-logo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
