<div class="space"></div>
<section class="m-section">
  <div class="container">
    <div class="content" [ngClass]="info.class">
      <div class="information">
        <div class="title">
          <p class="title-banner">{{info.title}}</p>
        </div>
        <div class="info" [ngClass]="info.class">
          <p>{{info.info}}</p>
        </div>
        <div class="button">
          <button routerLink="/hexafrelance" (click)="goTo('nav', $event)" mat-button class="btn-primary">{{info.button}}</button>
        </div>
      </div>
    </div>
  </div>
</section>
