<section class="one" id="disponibilidad">
  <div class="container">
    <div class="content">
      <div class="info">
        <p>Nos comprometemos a ser un puente confiable entre programadores freelance y sus clientes, garantizando
          transparencia, calidad y apoyo constante para el éxito de cada proyecto</p>
      </div>
      <!-- <div class="button">
        <button (click)="goTo('contact', $event)" mat-button>Hasta 48 meses para pagar.</button>
      </div> -->
    </div>
  </div>
</section>


<section class="two m-section">
  <div class="container">
    <div class="content">
      <div class="top">
        <div class="column">
          <p>Nuestros valores se basan en la transparencia, calidad e innovación, promoviendo confianza, respeto y
            colaboración para superar expectativas y alcanzar resultados extraordinarios.</p>
        </div>
        <div class="column-info">
          <p>Contamos con una sólida trayectoria en el mundo del desarrollo tecnológico, lo que nos permite conectar a
            programadores freelance con proyectos de calidad. Gracias a nuestra experiencia, estamos al tanto de las
            últimas tendencias y herramientas del sector, lo que nos permite ofrecer soluciones innovadoras y adaptadas
            a las necesidades de nuestros clientes.</p>
          <!-- <button mat-button class="btn-blue" (click)="goTo('contact', $event)">contacta un asesor</button> -->
        </div>
      </div>
      <div class="image">
        <img class="desk" src="/assets/images/blue/back-info.webp" alt="">
        <img class="mobile" src="/assets/images/blue/back-info.webp" alt="">
      </div>
    </div>
  </div>
</section>


<!-- <section class="three m-section">
  <div class="container">
    <div class="content">
      <div class="information">
        <div class="info">
          <p>En resumen, lo que nos diferencia es nuestro compromiso con la excelencia, la atención personalizada, la
            transparencia y la calidad en cada proyecto que emprendemos. Estamos aquí para hacer tu experiencia
            inmobiliaria lo más placentera y exitosa posible.</p>
        </div>
        <div class="sub">
          <p>Buscamos contribuir positivamente a la creación de hogares felices y prósperos en cada una de nuestras
            comunidades.</p>
          <div class="button">
            <button mat-button (click)="goTo('contact', $event)" class="btn-blue">contacta un asesor</button>
          </div>
        </div>
      </div>
      <div class="images">
        <div class="image">
          <img src="/assets/images/blue/info.webp" alt="">
          <div class="back"></div>
        </div>
      </div>
    </div>
  </div>
</section> -->
