<section class="one" id="disponibilidad">
  <div class="container">
    <div class="content">
      <div class="info">
        <p>Nuestro compromiso es no solo garantizar la Plusvalía y Calidad de Vida para nuestros clientes, sino también
          transformar sueños en realidades, ofreciendo experiencias únicas que perdurarán toda la vida.</p>
      </div>
      <div class="button">
        <button (click)="goTo('contact', $event)" mat-button>Hasta 48 meses para pagar.</button>
      </div>
    </div>
  </div>
</section>


<section class="two m-section">
  <div class="container">
    <div class="content">
      <div class="top">
        <div class="column">
          <p>La transparencia y honestidad son también valores fundamentales para nosotros. Buscamos establecer
            relaciones de confianza a largo plazo, manteniendo una comunicación clara y abierta en todo momento.</p>
        </div>
        <div class="column-info">
          <p>Adicionalmente, contamos con una amplia trayectoria y experiencia en el mercado inmobiliario, lo que nos
            permite estar actualizados sobre las tendencias y mejores prácticas de la industria. Esto nos facilita
            ofrecer productos y servicios innovadores, adaptados a las necesidades cambiantes del mercado.</p>
          <button mat-button class="btn-blue" (click)="goTo('contact', $event)">contacta un asesor</button>
        </div>
      </div>
      <div class="image">
        <img class="desk" src="/assets/images/blue/back-info.webp" alt="">
        <img class="mobile" src="/assets/images/blue/back-info-mobile.webp" alt="">
      </div>
    </div>
  </div>
</section>


<section class="three m-section">
  <div class="container">
    <div class="content">
      <div class="information">
        <div class="info">
          <p>En resumen, lo que nos diferencia es nuestro compromiso con la excelencia, la atención personalizada, la
            transparencia y la calidad en cada proyecto que emprendemos. Estamos aquí para hacer tu experiencia
            inmobiliaria lo más placentera y exitosa posible.</p>
        </div>
        <div class="sub">
          <p>Buscamos contribuir positivamente a la creación de hogares felices y prósperos en cada una de nuestras
            comunidades.</p>
          <div class="button">
            <button mat-button (click)="goTo('contact', $event)" class="btn-blue">contacta un asesor</button>
          </div>
        </div>
      </div>
      <div class="images">
        <div class="image">
          <img src="/assets/images/blue/info.webp" alt="">
          <div class="back"></div>
        </div>
      </div>
    </div>
  </div>
</section>
